#app {
  margin: 2em;
}

.calculator {
  border: 16px solid grey;
  display: inline-block;
  border-radius: 12px;
}
.output {
  text-align: right;
  height: 100px;
  font-size: 40px;
  color: green;
}
button {
  padding: 10px;
  margin: 10px;
  height: 60px;
  width: 60px;
  border: none;
  border-radius: 5px;
  background-color: #eee;
  font-size: 30px;
  color: #777;
}
button:hover {
  background-color: #aaa;
}
button:active {
  background-color: #000;
}
